body {
    background: var(--branco);
    background-image: url("../img/bg/Patas.svg"), url("../img/bg/Forma\ 1.svg"), url("../img/bg/Forma\ 2\ flip.svg");
    background-repeat: no-repeat;
    background-position: right top, left top, left 70%;

}

.principal__logo__img {
    width: 168px;
    height: auto;
    margin-top: 3em;
}



.principal__texto {
    color: var(--azul);
    margin-top: 0.8em;
    width: auto;
}


.login-form {
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.login__link {
    font-size: 12px;
    margin-top: 1em;
}


/* Validaçao */
.cadastro-form__input-erro{
    color: var(--coral);
    margin-top: 0.5em;
    font-size: 14px;
}

.cadastro-form__input-invalido{
    background: #fdbebe;
}


@media screen and (min-width: 768px) {
    body{
        background-image: url("../img/bg/Patas\ G.svg"), url("../img/bg/Forma\ 1\ G.svg"), url("../img/bg/Forma\ 2\ G.svg");
        background-position: right top, left top, right 65%;
    }
    .principal__logo__img {
        width: 251px;
    }

    .principal__texto{
        font-size: 18px;
        width: 80%;
    }
    .principal__input{
        width: 344px;
    }
    .principal__label{
        font-size: 18px;
    }
    .principal__botao{
        margin-top: 2.5em;
        width: 164px;
    }
    .login__link{
        font-size: 14px;
    }
}

@media screen and (min-width: 1440px) {
    .principal__input{
        width: 550px
    }
    .input__senha{
        width: 360px;
    }

}