.principal {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    min-height: 80vh;
}

.principal__logo__img {
    width: 168px;
    height: auto;
    margin-top: 3em;
}

.principal__titulo {
    font-size: 26px;
    font-weight: 500;
    margin: 1em 0
}

.principal__texto {
    width: 70%;
    margin: 0 auto;
    line-height: 1.6em;
}

.principal__botao {
    background: var(--coral);
    padding: 0.8em 0;
    width: 190px;
    border-radius: 6px;
    font-weight: 600;
    filter: drop-shadow(2px 2px 4px rgba(0, 0, 0, 0.25));
    text-decoration: none;
    color: var(--branco);
    margin-top: 1.3em;
    font-size: 16px;
    border-style: none;
}

.principal__ilustracao {
    display: block;
    position: relative;
    margin-top: 1em;
    margin: auto auto -1em auto;
    z-index: -1;

}

/* cadastro-login */
.principal__label {
    color: var(--cinza);
    margin-bottom: 0.5em;
    margin-top: 1.6em;
}

.principal__input {
    width: 80%;
    padding: 1em;
    background: #F7F7F7;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.15);
    border-radius: 6px;
    border-style: none;
}

.principal__input::placeholder {
    color: var(--cinza-claro);
    text-align: center;
}

.principal__link {
    color: var(--coral);
}

.center{
    text-align: center;
}

@media screen and (min-width: 768px) {
    .principal__logo__img {
        width: 251px;
    }

    .principal__titulo {
        font-size: 28px;
    }

    .principal__texto,
    .principal__botao {
        font-size: 18px;
    }

    .principal__botao{
        width: 344px;
    }
}

@media screen and (min-width: 768px) {
    .principal__logo__img{
        margin: 0;
    }
    .principal__titulo{
        font-size: 28px;
    }
    .principal__ilustracao{
        width: 346px;
        margin-bottom: -1.5em;
    }
}